/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-18-2017, 03:33:11 PM
    Author     : PabloAntonio
*/

body {
    background-color: #66512c;
}

header {
    height: 30%;
    background-color: #255625;
}

.col1 {
    padding: 1%;
    background-color: #255625;
}

.col2 {
    margin-top: 7%;
}

.btn-social-icon {
    color: black;
}

ul {
    width: 100%;
}

li {
    
    margin: 1%;
}

.bot {
    background-color: #255625;
    color: #000;
    font-weight: bold;
}

.navbar-default {
    
}

.cont {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
}

.col3 {
    color: white;
    background-color: #c0a16b;
    padding: 3%;
}

.col4 {
    padding: 3%;
}

.foto1 {
    height: 170px;
    margin-top: 10%;
}

.foto2 {
    height: 150px;
    margin-top: 30%;
}

nav.navbar {
    background-color: #999;
}

coment {
    margin-top: 20px;
}

h1 {
    color: black;
}

article {
    margin-bottom: 25px;
}